.main-results-section {
  display: none;
  background-color: #f5f6f7;
  flex-direction: column;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-results-section_active {
  display: flex;
}

@media screen and (max-width: 768px) {
  .main-results-section {
    padding: 40px;
  }
}

@media screen and (max-width: 320px) {
  .main-results-section {
    padding: 32px 16px 24px;
  }
}
