/* .header__nav-link-underline {
    height: 3px;
    position: absolute;
    top: 33px;
    display: none;
    background-color: #ffffff;
    
} */

.header__nav-link-underline_light {
  background-color: #1A1B22;
}

.header__nav-link-underline_active {
    display: block;
}

@media screen and (max-width: 815px) {
    .header__nav-link-underline {
      top: 19px;
    }
  }

  @media screen and (max-width: 320px) {
    .header__nav-link-underline {
    display: none;}
  }