.header__nav-link-underline {
    height: 3px;
    position: relative;
    top: 33px;
    display: none;
}

.header__nav-link-underline_active {
    display: block;
}

@media screen and (max-width: 768px) {
    .header__nav-link-underline {
      top: 19px;
    }
  }

  @media screen and (max-width: 320px) {
    .header__nav-link-underline {
    display: none;}
  }