.savedNewsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #D1D2D6;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    padding: 30px 104px 26px;
    background-color: #ffffff;
}

.savedNewsHeader__logo {
    all:unset;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color:  #1A1B22;
    font-family: Roboto Slab, Helvetica, sans-serif;
    margin-top: 11px;
    cursor: pointer;
}

.savedNewsHeader__right-group {
    display: flex;
    justify-content: space-between;
}

.savedNewsHeader__menu-icon{
    display: none;
}


@media screen and (max-width: 815px) {
    .savedNewsHeader {
      height: 66px;
      padding: 0 40px 0;
    }

    .savedNewsHeader__logo{
        margin-top: 23px;
        margin-bottom: 19px;
    }
  }



  @media screen and (max-width: 320px) {
    .savedNewsHeader {
      height: 56px;
      padding-left: 0;
      padding-right: 0;

    }

    .savedNewsheader_expanded-menu {
        z-index: 7;
        width: 100%;
      position: fixed;
      margin-bottom: 16px;
    }

    .savedNewsHeader__logo{
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 16px;
        font-size: 16px;
    }

    .savedNewsHeader__right-group {
        display: none;
    }
    
    .savedNewsHeader__menu-icon{
        display: flex;
        height: 24px;
        width: 24px;
        margin-top: 16px;
        margin-right: 16px;
    }
    

    .savedNewsHeader__right-group_vertical {
        display: flex;
        z-index: 6;
        flex-direction: column;
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        margin-top: 51px; 
    }

    .savedNewsHeader__right-group_vertical-wrappper{
        position: relative;
    }
    .savedNewsHeader__right-group_vertical-remainder{
        background-color: #ffffff;
         opacity: 0.5; 
        width: 100%;
         height: 100%;
        position: fixed;
        z-index: 5;
    }
  }
     