.about {
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
}

.about__text-block {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.about__image {
    height: 464px;
    width: 464px;
    margin-bottom: 80px;
    margin-top: 80px;
}