.about {
    display: flex;
    flex-direction: row;
    margin-left: 104px;
    
}

.about__text-block {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 131px;
    margin-left: 56px;
    margin-right: 104px;
}

.about__paragraph {
    all:unset;
    margin-top: 24px;
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}

.about__image {
    height: 464px;
    width: 464px;
    border-radius: 1000px;
    margin-bottom: 80px;
    margin-top: 80px;
}

