.searchFormSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.searchForm {
  width: 608px;
  flex-direction: row;
  position: relative;
}

.searchForm__h1 {
  all: unset;
  font-size: 60px;
  font-family: Roboto Slab, Helvetica, sans-serif;
  line-height: 64px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 32px;
  width: 608px;
  text-align: left;
}

.searchForm__span {
  all: unset;
  font-size: 18px;
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 88px;
}

.searchForm__input {
  padding: 0;
  margin: 0;
  height: 64px;
  width: 608px;
  border-radius: 100px;
  border-inline: 1px solid #d1d2d6; 
  border-width: 1px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #1a1b22;
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 22px;
  text-indent: 21px; 
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #b6bcbf;
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 22px;
}

.searchForm__btn {
  all: unset;
  background-color: #2f71e5;
  height: 64px;
  width: 168px;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  position: absolute;
  
  right: -3px;
    top: 3px;
  transform: translateX(px);
  transform: translateY(-2px);
}

.searchForm__btn:hover {
  background-color: #347eff;
}
.searchForm__btn_active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .searchFormSection {
    margin-bottom: 40px;
    margin-top: 0;
  }
  .searchForm {
    width: 448px;
  }
  .searchForm__h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    margin-right: 220px;
    margin-left: 163px;
    margin-bottom: 16px;
    margin-top: 38px;
    text-align: left;
    width: 385px;
  }

  .searchForm__span {
    margin-bottom: 48px;
    width: 452px;
  }
  .searchForm__input {
    height: 56px;
  }

  .searchForm__btn {
    height: 59px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .searchFormSection {
    margin-bottom: 0;
    width: 320px;
  }

  .searchForm {
    width: 288px;
    flex-direction: column;
  }

  .searchForm__h1 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 16px;
    width: 285px;
    margin-left: 19px;
    margin-right: 16px;
  }

  .searchForm__span {
    margin-bottom: 122px;
    width: 288px;
  }

  .searchForm__input {
    height: 56px;
  }

  .searchForm__btn {
    height: 56px;
    width: 288px;
    position: static;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
