.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  padding: 0px 104px 0px;
  height: 80px;
}

.header_expanded-menu {
  background-color: #1a1b22;
  position: fixed;
  z-index: 11;
  width: 100%;
}

.header_background-light {
  background-color: #ffffff;
  border-color: #D1D2D6;
}

.header__mobile-icons {
  display: none;
}

.header__logo {
  all: unset;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  font-family: Roboto Slab, Helvetica, sans-serif;
  cursor: pointer;
  padding-top: 30px;
}

.header__logo_light {
  color: #1A1B22;
}

.header__right-group {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 815px) {
  .header {
    height: 66px;
    padding: 0 40px 0;
  }

  .header__logo {
    margin-top: 23px;
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 56px;
    padding-left: 0;
    padding-right: 0;
  }

  .header__logo {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
  }

  .header__right-group {
    display: none;
  }

  .header__mobile-icons {
    display: flex;
  }
  .header__menu-icon {
    display: none;
    height: 24px;
    width: 24px;
    margin-top: 16px;
    margin-right: 16px;
  }
  .header__menu-icon_active {
    display: flex;
  }

  .header__right-group_vertical {
    display: flex;
    z-index: 10;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    background-color: #1a1b22;
    margin-top: 57px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .header__right-group_vertical_light {
    background-color: #ffffff;
  }

  .header__right-group_vertical-wrappper {
    position: relative;
  }

  .header__right-group_vertical-remainder {
    background-color: #1a1b22;
    opacity: 0.5;
    width: 100%;
     height: 100%;
    position: fixed;
    z-index: 6;
  }
  .header__right-group_vertical-remainder_light {
    background-color: #ffffff;
  }

  .header-items_hider {
    display: none;
  }
}
