.footer {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.footer__links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer__link {
  text-decoration: none;
  color: #1a1b22;
  min-width: 112px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.footer__link:hover {
  opacity: .75;
}

.footer__social-icon {
  height: 19.71px;
  width: 20.21px;
  cursor: pointer;
}

.footer__social-icon:hover {
  opacity: .75;
}
.footer__social-icons-wrapper {
  width: 72px;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 41.89px;
  margin-right: 104px;
}

.footer__copyright {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 104px;
  color: #b6bcbf;
}

.footer__right-side-group {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 815px) {
  .footer__copyright {
    margin-left: 40px;
  }

  .footer__social-icons-wrapper {
    margin-right: 41px;
  }
}

@media screen and (max-width: 570px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    height: 176px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
  }

  .footer__links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 74px;
  }

  .footer__link {
    text-decoration: none;
    color: #1a1b22;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: start;
    vertical-align: text-top;
    display: inline;
  }

  .footer__social-icon {
    height: 19.71px;
    width: 20.21px;
    cursor: pointer;
  }

  .footer__social-icons-wrapper {
    width: 68px;
    display: flex;
    align-content: space-between;
    margin-left: 17.89px;
    margin-right: 2px;
    margin-top: 1.89px;
  }

  .footer__copyright {
    text-align: center;
    margin-left: 0;
    margin-bottom: 22px;
  }
}
