.title__h2 {
  all: unset;
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 815px) {
  .title__h2 {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 320px) {
  .title__h2 {
    width: 288px !important;
  }
}

