.news__list {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  flex: 0 0 100%;
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 62px;
  margin-bottom: 62px; 
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  background-color:  #F5F6F7;
}

@media screen and (max-width: 768px) {
  .news__list {
    column-gap: 8px;
    row-gap: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .news__list {
    column-gap: 8px;
    row-gap: 10px;
    margin-bottom: 21px;
  }

  .top-margin-mobile-home {
    margin-top: 58px;
  }

  .top-margin-mobile-savedNews {
    margin-top: 24px;
  }

}