.news-list {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  flex: 0 0 100%;
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 62px;
  margin-bottom: 62px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  background-color: #f5f6f7;
}

@media screen and (max-width: 815px) {
  .news-list {
    column-gap: 8px;
    row-gap: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
  }
}

@media screen and (max-width: 570px) {
  .news-list {
    column-gap: 8px;
    row-gap: 10px;
    margin-bottom: 21px;
    flex-flow: wrap;
  }

  .news-list__top-margin-mobile-home {
    margin-top: 58px;
  }

  .news-list__top-margin-mobile-savedNews {
    margin-top: 24px;
  }
}
