.popup__form-control {
    margin-bottom: 13px;
    position: relative;
    height: 44px;
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
  }
  
  .popup__form-control:last-of-type {
    margin-bottom: 39px;
  }
  
  .popup__form-errorMsg {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.21;
    color: #ff0000;
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
  }
  
  .popup__form-label {
    font-family: Inter, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #2f71e5;
    display: block;
    margin-bottom: 10px;
  }
  
  .popup__form-input {
    all: unset;
    height: 26px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    color: #000000;
    width: 100%;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
  }
  
  .popup__form-input::placeholder {
    color: #000000;
    opacity: 0.2;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    font-style: normal;
  }
  