.log-out-btn {
    all: unset;
    cursor: pointer;
    width: fit-content;
    padding: 12px 34px;
    border: 1px solid;
    border-radius: 100px;
    margin-left: 34px;
    background-color: none;
  }

  .log-out-btn-txt{
    all:unset;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    left: -17px;
  }
  