.news-card {
  width: 400px;
  position: relative;
}

.news-card-category {
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 10px;
  padding: 8px 22px 8px;
}

.hover-info {
  /* visibility: hidden; */
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  height: 27px;
  line-height: 14.06px;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
  position: absolute;
  border-radius: 10px;
  padding-top: 13px;
  top: 24px;
  right: 69px;
}

.hover-info_trash {
  padding-left: 20px;
  padding-right: 20px;
}
.hover-info_save {
  padding-left: 26px;
  padding-right: 26px;
}

.news-card__img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.news-card__text-block {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 20px 24px 24px;
}

.text-block-paragraph {
  all: unset;
  margin-bottom: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #1a1b22;
}

.text-block-title {
  all: unset;
  margin-bottom: 46px;
  color: #1a1b22;
  font-family: Roboto Slab;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.text-block-date {
  all: unset;
  margin-bottom: 12px;
  color: #b6bcbf;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}


.action-icon-container {
  background-color: #ffffff;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 10px;
  width: 40px;
  display: flex;
  justify-content: center; 
}

.action-icon-img {
    width: 18px;
    height: 19px;
    margin-top: 11px;
}

/* .action-icon-container:hover .action-icon-img {
   background-image: url();
}  */
